@font-face {
	font-family: 'Inter UI Regular';
	font-style: normal;
	font-weight: 400;
	src: url('inter-ui-regular.woff') format('woff');
	font-display: fallback;
}
@font-face {
	font-family: 'Inter UI Regular Italic';
	font-style: italic;
	font-weight: 400;
	src: url('inter-ui-italic.woff') format('woff');
	font-display: fallback;
}
@font-face {
	font-family: 'Inter UI SemiBold';
	font-style: normal;
	font-weight: 600;
	src: url('inter-ui-semibold.woff') format('woff');
	font-display: fallback;
}
@font-face {
	font-family: 'Inter UI SemiBold Italic';
	font-style: italic;
	font-weight: 600;
	src: url('inter-ui-semibold-italic.woff') format('woff');
	font-display: fallback;
}
@font-face {
	font-family: 'Inter UI Bold';
	font-style: normal;
	font-weight: 700;
	src: url('inter-ui-bold.woff') format('woff');
	font-display: fallback;
}
@font-face {
	font-family: 'Inter UI Bold Italic';
	font-style: italic;
	font-weight: 700;
	src: url('inter-ui-bold-italic.woff') format('woff');
	font-display: fallback;
}
